*{
    box-sizing: border-box;
}
.msg-box{
    display: flex;
    gap:1rem;
}

#chat-log{
    min-height: 80vh;
    max-height: 80vh;
    box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.43);
    overflow: auto;
}
.text-area{
    /* box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.43); */
    border-radius: 5px;
    min-height: 1rem;
    max-height: 2rem;
    border: 1px solid black;
}
.text-area:hover, text-area:active {
    background-color:azurex;
    border-color: rgb(55, 117, 204);

}



.button{
    background-color: rgb(38, 38, 109);
    padding: 0.5rem;
    border-radius: 10px;
    width: 5rem;
    border: 0px;
    color: white;
}
.button:hover{
    background-color:  rgb(56, 56, 148);

}

html, body {
    height: 100%;
}

html {
   display: table; 
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: rgb(233, 233, 238);
}